html
  head
    title='Les Batoilles kick ass!'
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Les Batoilles kick ass!!!!
        p Click the button below to head over to our blog...
        p 
          a.btn.btn-primary(href="http://www.lesbatoilles.ch") Les Batoilles blog
        p